html {
    background-color: #4a044e;
    font-family: sans-serif;
    color: #3E5266;
    width: 100% ;
    height: 100% ;
    justify-content: center;
    align-content: center;
    background: radial-gradient(circle at top,transparent 9%, #c4c2de 10% ,#c4c2de 15% , transparent 16%), radial-gradient(circle at bottom,transparent 19%, #c4c2de 20% ,#c4c2de 25% , transparent 26%), radial-gradient(circle at right,transparent 19%, #c4c2de 20% ,#c4c2de 25% , transparent 26%), radial-gradient(circle at left,transparent 9%, #c4c2de 10% ,#c4c2de 15% , transparent 16%);
    background-size: 3em 3em;
        opacity: 1
    
}

.container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
}
.container {
    background-color: #dfdbe5;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.3)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.3));
    border-radius: 0.5rem;
    padding: 2rem;
    max-width: fit-content;
    justify-content: center; 
    align-items: center; 
    margin: auto;
    font-weight: 700;
}

.for-buttons {
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    padding: 0rem;
    width: 2rem;
    height: 2rem;
    color: #4a044e;
    transition: color 0.3s ease; 
}

.for-buttons:hover {
    color: #dfdbe5;
}

.buttons{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.inputs-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 0.3rem;
    max-width: 100%;
}

.inputs-container input {
    border: none;
    margin-left: 1rem;
    width: 50%;
    align-content: end;
}
